<%-include("partials/header") %>

<%-include("partials/nav") %>

<div class="w-[100%] text-3xl font-bold text-black ml-14  text-center absolute ">
 <a href="/reset-password/<%= user._id%>">Reset Password</a>
</div>
<div class=" h-[100vh] w-full bg-[url('https://images.unsplash.com/photo-1562577309-4932fdd64cd1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8c29jaWFsJTIwbWVkaWF8ZW58MHx8MHx8fDA%3D')] bg-no-repeat bg-cover bg-center py-36 pl-[37%] ">
<div class="h-90 w-[50%] py-[4%] mt-[-9%] w-70 backdrop-blur-[50px] bg-white/0.001 rounded-3xl pl-[4%]"> 

<div class=" w-[85%] flex flex-col items-center">
  <img class="h-[100px] w-[100px] rounded-full object-cover" src="https://plus.unsplash.com/premium_photo-1682097587228-9966f077e0a9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDI1fFM0TUtMQXNCQjc0fHxlbnwwfHx8fHw%3D" alt="">

  <h1 class="text-black text-[3vw] font-bold drop-shadow-[10px 10px 10px rgba(0,0,0,0.25)]"> <%= user.name %>
  </h1><br>
</div>

  <form action="/update-user/<%= user._id%>" method="post">

    <input class="p-3 ml-8 w-[75%] border border-zinc-100 rounded-xl" type="text" placeholder="full name" name="name" value="<%= user.name %>"> <br> <br>
    <input class="p-3 ml-8 w-[75%] border border-zinc-100 rounded-xl" type="text" placeholder="username" name="username" value="<%= user.username%>"> <br> <br>
    <input class="p-3 ml-8 w-[75%] border border-zinc-100 rounded-xl" type="email" placeholder="email@service.com" name="email" value="<%= user.email%>"> <br><br>

  <button class="mt-5 text-center block w-[40%] ml-32 hover:bg-red-600 rounded text-white py-3 px-5 bg-blue-950">update</button>
  </form>
 
<p class="mt-3 w-[100%] text-left ml-10 ">Already have an account? <a class="text-red-600 font-semibold text-[1.2vw] " href="/login">login</a>
</p>
</div> 
</div>

<!-- <script>
    function togglePassword() {
    var passwordField = document.getElementsByClassName("password");

    if (passwordField.type === "password") {
        passwordField.type = "text";
    } else {
        passwordField.type = "password";
    }
}
togglePassword()
</script> -->


<%-include("partials/footer") %>




